<%- include('../partials/header.ejs') %>




    <h1 class="text-center text-3xl font-semibold mb-0.5">CATEGORY</h1>
    <h2 class="text-center text-md mb-4">Lorem ipsum dolor sit amet consectetur adipisicing</h2>

    <div class="w-full container px-0.5 py-2 mb-5">
        <a href="/categories/add" class="py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white">New Category</a>
    </div>

    <table class="w-full container mb-5">
        <tr>
            <td class="min-w-[50px] max-w-12 p-2 border">No</td>
            <td class="w-full  p-2 border">Name</td>
            <td class="min-w-[150px] p-2 border">Action</td>
        </tr>
        <% for (const category of categories) { %>
            <tr>
                <td class="p-3 border"><%= category.id %></td>
                <td class="p-3 border"><%= category.name %></td>
                <td class="flex items-center gap-2 border p-3">
                    <a href="/categories/update/<%= category.id %>" class="py-2 px-4 bg-green-500 hover:bg-green-700 text-white">Update</a>
                    <form action="/categories/delete/<%= category.id %>?_method=DELETE" method="GET">
                        <button type="submit" class="py-2 px-4 bg-red-500 hover:bg-red-700 text-white">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>

<%- include('../partials/footer.ejs') %>