<style>
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .title {
        font-size: 3rem;
        text-align: center;
    }


    .card {
        width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .flex {
        display: flex;
        gap:10px;
    }

    .flex-col {
        flex-direction: column;
    }

    input, select {
        padding: 10px;
        border: 1px solid #ccc;
        outline: none;
    }

    button, .btn {
        padding: 10px;
        border: 1px solid #ccc;
        outline-style: none;
        text-decoration: none;
    }

    .btn-add {
        background-color: rgb(5, 109, 5);
        color: white;
    }

    .btn-add:hover {
        background-color: rgb(6, 163, 6);
        color: white;
    }

    .btn-cancel {
        background-color: red;
        color: white;
    }


    .btn-cancel:hover {
        background-color: rgb(163, 6, 6);
        color: white;
    }


</style>

<div class="container">
    <h1 class="title">CREATE FRUIT</h1>

    <div class="card">
        <form action="/fruits/update/<%= fruit.id %>" method="POST" enctype="multipart/form-data">
            <div class="flex flex-col">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= fruit.name %>">
            </div>
            <div class="flex flex-col">
                <label for="image">Image</label>
                <input type="file" id="image" name="image">
            </div>
            <div class="flex flex-col">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" value="<%= fruit.price %>">
            </div>
            <div class="flex flex-col">
                <label for="stock">Stock</label>
                <input type="number" id="stock" name="stock" value="<%= fruit.stock %>">
            </div>
            <div class="flex flex-col">
                <label for="category_id">Category</label>
                <select name="category_id" id="category_id">
                    <option value="<%= fruit.category_id %>" selected> <% const category = categories.find(category => category.id === fruit.category_id); %><%= category.name %> </option>
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="brand_id">Brand</label>
                <select name="brand_id" id="brand_id">
                    <option value="<%= fruit.brand_id %>" selected> <% const brand = brands.find(brand => brand.id === fruit.brand_id); %><%= brand.name %> </option>
                    <% brands.forEach(brand => { %>
                        <option value="<%= brand.id %>"><%= brand.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="flex">
                <button type="submit" class="btn-add">UPDATE FRUIT</button>
                <a href="/fruits" class="btn btn-cancel">CANCEL</a>
            </div>
        </form>
    </div>
</div>